
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9da2d4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #070814;
    color: #025779;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    
}

header p {
    font-size: 1.2em;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #a2a2c2;
    text-decoration: none;
    font-size: 1.1em;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}




